.buttonPrimary {
  display: inline-block;
  background: #006bc2;
  color: #fff;
  font-size: 1.125rem;
  line-height: 100%;
  padding: 16px 32px;
  border-radius: 5px;
  border: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

.buttonPrimary:hover {
  background: #104b75;
}

.buttonPrimary:focus {
  background: #104b75;
  box-shadow: 0 0 0 2px white, 0 0 0 4px #72befc;
}

.buttonOutline {
  display: inline-block;
  background: transparent;
  color: #52535c;
  font-size: 1.125rem;
  line-height: 100%;
  padding: 16px 32px;
  border-radius: 5px;
  border: 2px solid #9597a5;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

.buttonOutline:hover {
  color: #006bc2;
  border: 2px solid #006bc2;
}

.buttonOutline:focus {
  color: #006bc2;
  border: 2px solid #006bc2;
  box-shadow: 0 0 0 2px white, 0 0 0 4px #72befc;
}

.iconButtonPrimary {
  display: inline-block;
  background: #006bc2;
  color: #fff;
  font-size: 1.125rem;
  line-height: 22px;
  padding: 16px 24px;
  border-radius: 5px;
  border: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

.iconButtonPrimary:hover {
  background: #104b75;
}

.iconButtonPrimary:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 4px #72befc;
}

.iconButtonOutline {
  display: inline-block;
  background: transparent;
  color: #52535c;
  font-size: 1.125rem;
  line-height: 22px;
  padding: 16px 24px;
  border-radius: 5px;
  border: 2px solid #9597a5;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

.iconButtonOutline:hover {
  color: #006bc2;
  border: 2px solid #006bc2;
}

.iconButtonOutline:hover .icon {
  fill: #006bc2;
}

.iconButtonOutline:focus {
  color: #006bc2;
  border: 2px solid #006bc2;
  box-shadow: 0 0 0 2px white, 0 0 0 4px #72befc;
}
