.containerFluid {
  position: relative;
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

.registrationSection {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.registrationHeader {
  width: 100%;
}

.registrationHeader h1 {
  font-family: Public Sans Bold;
  margin-bottom: 10px;
}

.registrationHeader p {
  font-size: 1.3rem;
  color: #95989f;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.input label {
  font-family: Public Sans Bold;
}

.input input {
  border: 2px solid #bec1c7;
  padding: 10px;
  font-size: 1.2rem;
  margin-right: 20px;
}

.input input:focus,
.registerButton {
  outline: 0;
}
