.containerFluid {
  position: relative;
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

.registrationSection {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.registrationHeader {
  width: 100%;
}

.registrationHeader h1 {
  font-family: Mark-Bold;
  margin-bottom: 10px;
}

.registrationHeader p {
  font-size: 1.3rem;
  color: #95989f;
}

.input label {
  font-family: Mark-Bold;
}

.input input {
  border: 2px solid #bec1c7;
  padding: 10px;
  font-size: 1.2rem;
  margin-right: 20px;
}

.input input:focus,
.registerButton {
  outline: 0;
}

.registerButton {
  background: #ffffff;
  border: 2px solid #006bc2;
  color: #006bc2;
  padding: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}

.footerSection {
  padding: 80px 0 36px 0;
  background-color: #131429;
  color: #ffffff;
  position: relative;
}

.popularLinks,
.detailSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popularLinks {
  margin-bottom: 50px;
  align-items: flex-start;
}

.popularLinks h1,
.popularLinks p {
  margin-bottom: 16px;
}

.detailSection div {
  width: 100%;
  text-align: center;
}

.iconGroup {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.iconGroup a {
  text-decoration: none;
  color: inherit;
}

.iconGroup a:focus {
  outline: 0;
}

.iconGroup i {
  font-size: 1.5rem;
  border: 1px solid #ffffff;
  padding: 10px;
  margin: 0 16px;
}

.copyright {
  text-align: center;
  margin-top: 50px;
}
